/* Cyberpunk Theme */
:root {
    --path-color: #868686;
    --prompt-color: #ffffff;
    --command-color: #e74856;
    --args-color: #cbcbcb;
    --prompt-symbol: "/>";
    --title-color: #e74856;
    --title-text: 'ratflix';
    --background-color: #1e1e1e;
    --output-color: #fff;
    --console-font: 'Courier New';

    --selection-background: transparent;
    --selection-color: inherit;
}

.console-container *::selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

.console-container *::-moz-selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

.console-container textarea::selection {
    background: transparent;
}

.console-line {
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
    line-height: 1.2;
    margin-bottom: 0.2rem;
    text-align: left;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
}

.input-line {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
}

.console-container {
    flex: 1;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--output-color);
    font-family: var(--console-font), 'Courier New', monospace !important;
    overflow: hidden;
    cursor: text;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
}

.console {
    height: 100%;
    overflow-y: auto;
    max-width: 100%;
    padding-right: 20px; /* Add some padding to prevent text from touching the scrollbar */
}

.console-spacer {
    flex-shrink: 0; /* Prevents the spacer from shrinking */
    pointer-events: none; /* Ensures the spacer doesn't interfere with clicks */
}
